<div class="h-100 container">
  <div class="row align-items-center justify-content-center h-100">
    <div class="card" style="margin: 0 auto">
      <div class="card-header text-center">
        <img class="img img-fluid logo" src="assets/images/logo.png" alt="Logo">
        <h4 class="text-light">Create a new Account</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm">
          <app-error></app-error>
          <small class="text-light" *ngIf="submitted && formErrors.name">
            {{ formErrors.name }}
          </small>          
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                  <fa-icon [icon]="userIcon"></fa-icon>
              </span>
            </div>
            <input formControlName="name" type="text" class="form-control form-control-no-border" placeholder="First Name">
          </div>
          <small class="text-light" *ngIf="submitted && formErrors.lname">
            {{ formErrors.lname }}
          </small>          
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                  <fa-icon [icon]="userIcon"></fa-icon>
              </span>
            </div>
            <input formControlName="lname" type="text" class="form-control form-control-no-border" placeholder="Last Name">
          </div>          
          <small class="text-light" *ngIf="submitted && formErrors.email" >
            {{ formErrors.email }}
          </small>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                  <fa-icon [icon]="emailIcon"></fa-icon>
              </span>
            </div>
            <input formControlName="email" type="email" class="form-control form-control-no-border" placeholder="Email">
          </div>
          <!-- <small class="text-light" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
            Please enter your password.
          </small> -->
          <small class="text-light" *ngIf="submitted && formErrors.password">
            {{ formErrors.password }}
          </small>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="keyIcon"></fa-icon>
              </span>
            </div>
            <input formControlName="password" type="password" passwordToggle class="form-control" placeholder="Password">
          </div>
          <div class="form-group mb-0">
            <button (click)="registerClicked()" class="btn btn-block login_btn">Register</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a class="blue-link" routerLink="/login">Already have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>
