<div class="bg-gradient text-light">
    <div class="row align-items-center justify-content-center p-2">
      <div class="col">
        <span class="lead align-middle">Activity</span>
      </div>
      <div class="col-xs-12 col-md-5">
        <ngb-tabset type="pills" class="custom-pills" justify="center" 
		(tabChange)="onTabChange($event.nextId)" [activeId]="activeTabId">
          <ng-container *ngFor="let tab of activityTabs">
              <ngb-tab [id]="tab.id" [title]="tab.name"></ngb-tab>
          </ng-container>
        </ngb-tabset>
      </div>
      <div class="col text-center">
        <hr class="mt-0 d-sm-none">
        <a class="purple-link" (click)="downloadHistory()">
          <fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>
          Download Activity History
        </a>
      </div>
    </div>
  
    <hr class="mt-0 mb-0">
  
    <div class="row justify-content-center align-items-center my-1 p-2" *ngIf="selectedTab.id === 'allOrders'">
      <div class="col-md-2 col-xs">
        <span *ngIf="this.stellarService.allOffers" class="align-middle font-weight-bolder font-14">Open Orders ({{this.stellarService.allOffers.length}})</span>
        <span *ngIf="!this.stellarService.allOffers" class="align-middle font-weight-bolder font-14">Open Orders (0)</span>
      </div>
      <div class="col" [routerLink]="['/wallet/overview', {outlets: {popup: 'cancel-active-orders'}}]" style="outline: none;">
        <fa-icon [icon]="faClose" class="text-danger cancel"></fa-icon>
        <span class="ml-1 cancel text-danger">Cancel All Active Orders</span>
	</div>
    <div class="col">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important" [formControl]="searchControl">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
  
    <div class="row justify-content-center align-items-center my-1 p-2" *ngIf="selectedTab.id === 'transfers'">
      <div class="col" *ngIf="!showMoreDetails">
        <span *ngIf="payments" class="align-middle font-weight-bolder font-14">Transfers ({{payments.length}})</span>
        <span *ngIf="!payments" class="align-middle font-weight-bolder font-14">Transfers (0)</span>
      </div>
      <div class="col-md-2 col-xs" *ngIf="showMoreDetails">
          <span *ngIf="payments" class="align-middle font-weight-bolder font-14">Transfers ({{payments.length}})</span>
          <span *ngIf="!payments" class="align-middle font-weight-bolder font-14">Transfers (0)</span><br>
          <span class="text-light font-10 font-weight-bolder">Most Recent Transfers</span>
      </div>
      <div class="col" *ngIf="showMoreDetails">
        <a href="javascript:void(0)" class="purple-link font-14" routerLink="/data/overview/wallet-activity/transfers">
          All Completed Transfers
        </a>
    </div>
    <div class="col">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important" [formControl]="searchControl">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
  
  <div class="row justify-content-center align-items-center my-1 p-2" *ngIf="selectedTab.id === 'networkHistory'">
    <div class="col" *ngIf="!showMoreDetails">
      <!-- <span class="align-middle font-weight-bolder font-14">Network History ({{networkHistorys}})</span> -->
      <span *ngIf="operations" class="align-middle font-weight-bolder font-14">Network History ({{operations.length}})</span>
      <span *ngIf="!operations" class="align-middle font-weight-bolder font-14">Network History (0)</span>
    </div>
    <div class="col-md-2 col-xs" *ngIf="showMoreDetails">
        <span *ngIf="operations" class="align-middle font-weight-bolder font-14">Network History ({{operations.length}})</span>
        <span *ngIf="!operations" class="align-middle font-weight-bolder font-14">Network History (0)</span><br>
        <span class="text-light font-10 font-weight-bolder">Most Recent Network History</span>
    </div>
    <div class="col" *ngIf="showMoreDetails">
      <a href="javascript:void(0)" class="purple-link font-14" routerLink="/data/overview/wallet-activity/networkHistory">
        Full Network History
      </a>
    </div>    
    <div class="col">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important" [formControl]="searchControl">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch" ></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>      
    </div>
    <div class="col d-none d-md-block"></div>  
  </div>
  
  <!-- ALL ORDERS -->
  <div class="table-responsive bg-gradient text-light pull-top" *ngIf="selectedTab.id === 'allOrders'">
    <table class="table mb-0">
      <thead>
      <tr class="font-weight-bolder font-10 text-light">
        <th>Date</th>
        <th>Type</th>
        <th>Asset</th>
        <!-- <th>Issuer</th> -->
        <th>Amount</th>
        <th>Filled</th>
        <th>Price (XLM)</th>
        <th>Total Price (XLM)</th>
        <th>Price (USD)</th>      
        <th>Total Price (USD)</th>
        <th>Actions</th>
      </tr>
      </thead>
  
      
      <tbody *ngIf="this.stellarService.allOffers"  class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScrollOpenOrders()" [scrollWindow]="false">
        <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
          <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
        </div>
        <tr *ngFor="let item of this.stellarService.allOffers">    
          <td>{{item.time}}</td>
          <td>{{item.type}}</td>
          
          <td>{{item.asset}}</td>        
          <td>{{item.amount}}</td>
          <td>0%</td>
          <td>{{item.xlmp}}</td>
          <td>{{item.totalxlm}}</td>
          <td>{{item.priceusd.toFixed(7)}}</td>
          <td>{{item.totalusd.toFixed(7)}}</td>
          <td>
            <a href="javascript:void(0)" (click)='cancelOffer(item)' class="purple-link">
              <fa-icon [icon]="faClose" class="text-danger cancel"></fa-icon>
              <span class="ml-1 cancel text-danger">Cancel</span>
            </a>            
          </td>
        </tr>       
      </tbody>
    </table>
  </div>
  
  <!-- TRANSFERS -->
  <div class="table-responsive bg-gradient text-light pull-top" *ngIf="selectedTab.id === 'transfers'">
    <table class="table mb-0">
      <thead>
      <tr class="font-weight-bolder font-10 text-light">
        <th>Date</th>
        <th>Counterparty</th>
        <th>Asset</th>
        <th>Issuer</th>
        <th>Amount</th>
        <th class="text-center">Info</th>
      </tr>
      </thead>

 	  <!-- <tbody *ngIf="payments" class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScrollTransfers()" [scrollWindow]="false">
    <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
      <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
    </div>
        <tr *ngFor="let item of payments">
            <td>{{item.time}}</td>
            <td>{{item.counter}}</td>            
            <td>{{item.asset}}</td>        
            <td>{{item.issuer}}</td>            
            <td>{{item.amount}}</td>            
            <td class="text-center">
                <a href="{{item.url}}" target="_blank">
                  <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                </a>
              </td>
        </tr>      
      </tbody> -->
      <tbody *ngIf="notices | async" class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScrollTransfers()" [scrollWindow]="false">
        <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
          <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
        </div>
            <tr *ngFor="let item of notices | async">
                <td>{{item.times}}</td>
                <td>{{item.counters}}</td>            
                <td>{{item.asset}}</td>        
                <td>{{item.issuer}}</td>            
                <td>{{item.amount}}</td>            
                <td class="text-center">
                    <a href="{{item.url}}" target="_blank">
                      <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                    </a>
                  </td>
            </tr>      
          </tbody>
    </table>
  </div>
  
  <!-- NETWORK HITORY -->
  <div class="table-responsive bg-gradient text-light pull-top" *ngIf="selectedTab.id === 'networkHistory'">
    <table class="table mb-0">
      <thead>
      <tr class="font-weight-bolder font-10 text-light">
        <th>Date</th>
        <th>Operation</th>
        <th>ID</th>
        <th>Amount</th>
        <th>Asset</th>
        <th>Account</th>
        <th class="text-center">Info</th>
      </tr>
      </thead>
	  <tbody *ngIf="operations" class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScrollNetworkHistory()" [scrollWindow]="false">
		  <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
	      <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
	    </div>
        <tr *ngFor="let item of operations">    
          <td>{{item.time}}</td>
          <td>{{item.op}}</td>
          <td>{{item.id}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.asset}}</td>   
          <td>{{item.account}}</td>
          <td class="text-center">
              <a href="{{item.url}}" target="_blank">
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </a>
            </td>
        </tr>    
      </tbody>
    </table>
  </div>
  
<div class="row m-0 justify-content-center align-items-center p-2 pt-4 bg-gradient text-light"
     *ngIf="selectedTab.id === 'allOrders'" id="completedOrdersContainer">
  <hr class="m-0 py-2 w-100 mx-0 px-0" style="border-color: #fff;">
    <div class="col-md-2 col-xs pl-0">
      <span *ngIf="tradess | async" class="align-middle font-14 font-weight-bolder">Completed Orders ({{(tradess | async).length}})</span>
      <span *ngIf="!(tradess | async)" class="align-middle font-14 font-weight-bolder">Completed Orders (0)</span><br>
      <span class="text-light font-10 font-weight-bolder">Most Recent Completed Orders</span>
    </div>
    <div class="col">
    <a href="javascript:void(0)" class="purple-link font-14" *ngIf="showAllCompletedOrders"
       routerLink="/data/overview/wallet-activity/all-orders/completed-orders">
      All Completed Orders
    </a>
    </div>
  </div>
  
  <div class="table-responsive bg-gradient text-light" *ngIf="selectedTab.id === 'allOrders'">
    <table class="table mb-0">
      <thead>
        <tr class="font-weight-bolder font-10 text-light">
          <th>Date</th>
          <th>Type</th>
          <th>Asset</th>       
          <th>Amount</th>
          <!-- <th>Filled</th> -->
          <th>Price (XLM)</th>
          <th>Total Price (XLM)</th>
          <th>Price (USD)</th>      
          <th>Total Price (USD)</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="tradess | async" class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScrollCompletedOrders()" [scrollWindow]="false">
        <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
          <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
        </div>
        <tr *ngFor="let item of tradess | async">         
          <td>{{item.times}}</td>
          <td>{{item.type}}</td>
          
          <td>{{item.asset}}</td>        
          <td>{{item.amount}}</td>
          <!-- <td>0%</td> -->
          <td>{{item.xlmp}}</td>
          <td>{{item.totalxlm}}</td>
          <td>{{item.priceusd.toFixed(7)}}</td>
          <td>{{item.totalusd.toFixed(7)}}</td>
          <td><a href="{{item.url}}" target="_blank" class="purple-link">Details</a></td>
        </tr>    
      </tbody>
    </table>
  </div>