<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0" routerLink="/wallet/overview" style="outline: none!important">
      <div class="card-body first-box bottom-border-navy-animated">
        <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
          <div>
            <h6 class="text-white font-weight-bolder">GRX</h6>
            <h6 class="text-white font-weight-bolder m-b-0">{{this.authService.userMetaStore.GRX}}</h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="text-white font-weight-bolder">Balance</h6>
            <h6 class="text-white font-weight-bolder">${{this.authService.grxInUsd().toFixed(3)}}</h6>
          </div>
        </div>
        <div class="d-flex align-items-center pl-lg-4 pl-md-4">
          <div>
            <h6 class="font-weight-lighter text-white">% 24h</h6>
            <h6 *ngIf="grxdb" class="text-white font-weight-lighter m-0">{{grxdb.day.toFixed(2)}}</h6>
            <h6 *ngIf="!grxdb" class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% 7d</h6>
            <h6 *ngIf="grxdb"  class="text-white font-weight-lighter m-0">{{grxdb.sevendays.toFixed(2)}}</h6>
            <h6 *ngIf="!grxdb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% ROI</h6>
            <h6 *ngIf="grxdb"  class="text-white font-weight-lighter m-0">{{grxdb.roi.toFixed(2)}}</h6>
            <h6 *ngIf="!grxdb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0" routerLink="/system/overview" style="outline: none!important">
      <div class="card-body second-box bottom-border-navy-animated">
        <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
          <div>
            <h6 class="text-white font-weight-bolder">GRY</h6>
            <h6 class="text-white font-weight-bolder m-b-0">{{algoService.algoMetric.GRYs}}</h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="text-white font-weight-bolder">Balance</h6>
            <h6 class="text-white font-weight-bolder">${{algoService.algoMetric.GRYBl}}</h6>
          </div>
        </div>
        <div class="d-flex align-items-center pl-lg-4 pl-md-4">
          <div>
            <h6 class="font-weight-lighter text-white">% 24h</h6>
            <h6 *ngIf="grydb" class="text-white font-weight-lighter m-0">{{grydb.day.toFixed(2)}}</h6>
            <h6 *ngIf="!grydb" class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% 7d</h6>
            <h6 *ngIf="grydb"  class="text-white font-weight-lighter m-0">{{grydb.sevendays.toFixed(2)}}</h6>
            <h6 *ngIf="!grydb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% ROI</h6>
            <h6 *ngIf="grydb"  class="text-white font-weight-lighter m-0">{{grydb.roi.toFixed(2)}}</h6>
            <h6 *ngIf="!grydb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0" routerLink="/system/overview" style="outline: none!important">
      <div class="card-body third-box bottom-border-navy-animated">
        <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
          <div>
            <h6 class="text-white font-weight-bolder">GRY</h6>
            <h6 class="text-white font-weight-bolder m-b-0">{{algoService.algoMetric.GRZs}}</h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="text-white font-weight-bolder">Balance</h6>
            <h6 class="text-white font-weight-bolder">${{algoService.algoMetric.GRZBl}}</h6>
          </div>
        </div>
        <div class="d-flex align-items-center pl-lg-4 pl-md-4">
          <div>
            <h6 class="font-weight-lighter text-white">% 24h</h6>
            <h6 *ngIf="grzdb" class="text-white font-weight-lighter m-0">{{grzdb.day.toFixed(2)}}</h6>
            <h6 *ngIf="!grzdb" class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% 7d</h6>
            <h6 *ngIf="grzdb"  class="text-white font-weight-lighter m-0">{{grzdb.sevendays.toFixed(2)}}</h6>
            <h6 *ngIf="!grzdb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
          <div class="ml-auto mr-3 text-right">
            <h6 class="font-weight-lighter text-white">% ROI</h6>
            <h6 *ngIf="grzdb"  class="text-white font-weight-lighter m-0">{{grzdb.roi.toFixed(2)}}</h6>
            <h6 *ngIf="!grzdb"  class="text-white font-weight-lighter m-0"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
