<!-- Display ONLY on Desktop -->
<div class="row d-none d-lg-flex">
  <div class="col-md-12 col-lg-4">
    <div class="card border-0 no-margin" style="min-height: 562px!important;">
      <div class="card-body gradient-box">
        <div class="row">
          <div class="col">
            <p class="text-light font-14 mt-2 font-weight-bolder">Open Algorithmic Position</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-error></app-error>
          </div>
          <div class="col-12" data-intercom-target="GRY">
            <ngb-tabset type="pills" (tabChange)="didChangeTab($event.nextId)">
              <ng-container *ngFor="let item of algoItems">
                <ngb-tab [id]="item.id">
                  <ng-template ngbTabTitle>
                    {{item.name}} {{item.tabName}}
                  </ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
              </ng-container>
            </ngb-tabset>
          </div>
          <div class="col-md-12" id="open-form">
            <div class="form-group mb-0 mt-3">
              <div class="input-group input-group-lg fixed-input-height" data-intercom-target="USD Value">
                <div class="input-group-prepend">
                  <span class="text-light input-group-text bg-purple dollar-padding">$</span>
                </div>
                <input type="number" [(ngModel)]="algoPosition.usdValue" name="usdAmount"  (keyup)="usdAmountChange()" [value]="calculateAmount()"
                       class="fixed-input-height text-light form-control form-control-no-border bg-purple border-0" placeholder="USD Value (Minimum $100.00)">
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="input-group input-group-lg fixed-input-height" data-intercom-target="Balthazar Amount">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                </div>
                <input type="number" name="itemAmount" class="fixed-input-height text-light form-control form-control-no-border border-0 bg-purple" 
                       [placeholder]="selectedTab.id + ' | ' + selectedTab.value + ' Amount'" [(ngModel)]="algoPosition.itemAmount">
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center mt-3">
            <div class="border-navy" *ngIf="this.selectedTab.id != 'GRZ'" data-intercom-target="Current Value GRY/USD">              
              <p class="font-weight-bolder">
                Current Value GRY/USD | {{authService.priceInfo.gryusd.toFixed(5)}}
              </p>
              <div class="d-flex align-items-center px-1">
                <div>
                  <h6 class="font-weight-lighter text-white">% 24h</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.day.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6  class="font-weight-lighter text-white">% 7d</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.sevendays.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6 class="font-weight-lighter text-white">% ROI</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.roi.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div>               
              </div>
              <p class="mb-0">
                Approximately
                <countdown [config]="authService.countdownConfigs[0]"></countdown>
                Seconds Until <br> GRY/USD Rate Update
              </p>
            </div>
            <div class="border-navy" *ngIf="this.selectedTab.id === 'GRZ'">
              <p class="font-weight-bolder" >
                Current Value GRZ/USD | {{authService.priceInfo.grzusd.toFixed(5)}}
              </p>
             
              <div class="d-flex align-items-center px-1">
                <div>
                  <h6 class="font-weight-lighter text-white">% 24h</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grzdb.day.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6  class="font-weight-lighter text-white">% 7d</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grzdb.sevendays.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6 class="font-weight-lighter text-white">% ROI</h6>
                  <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grzdb.roi.toFixed(2)}}</h6>
                  <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                </div> 
              </div>
              <p class="mb-0">
                Approximately
                <!-- <countdown [config]="countdownConfig"></countdown> -->
                <countdown [config]="authService.countdownConfigs[1]"></countdown>
                Seconds Until <br> GRZ/USD Rate Update
              </p>
            </div>
          </div>
          <div class="col-md-12" id="amount-form">
            <div class="form-group mt-3">
              <div class="input-group input-group-lg fixed-input-height" data-intercom-target="GRX Amount">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                </div>
                <input type="number" class="fixed-input-height text-light
                    form-control form-control-no-border bg-purple border-0"
                    (keyup)="grxAmountChange()" [value]="calculateAmount()" name="grxAmount"  placeholder="GRX Amount" [(ngModel)]="algoPosition.grxAmount">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row mb-0">
              <div class="col">
                <button type="button" class="text-light btn bg-purple" (click)="openAlgoPosition()" data-intercom-target="Open GRY Btn">
                  Open {{selectedTab.name}}
                </button>
              </div>
              <div class="col">
                <a class="navy-link-white" href="javascript:void(0)" (click)="populateMaxGRX()">
                  Max Available GRX: {{this.authService.getMaxAvailableGRX().toFixed(5)}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-8">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="card border-0" style="height: 271px!important;">
          <div class="card-body gradient-box" data-intercom-target="Card GRY">
            <div class="row px-1 mb-3">
              <div class="col" data-intercom-target="GRY1|Balthazar">
                <h6 class="text-white font-weight-bolder">
                  GRY | 1 Balthazar
                  <a href="http://support.grayll.io/en/articles/3840363-what-is-the-gry-1-balthazar-algorithm" class="navy-link mt-1" target="_blank">
                    <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                  </a>
                </h6>
                <h6 class="text-white font-weight-bolder m-b-0">GRY | {{authService.priceInfo.gryusd.toFixed(5)}}</h6>
              </div>
              <div class="col text-right" style="margin-top: -4px;" data-intercom-target="Unread Notifications">
                <div class="border-navy-hover" style="outline:0!important"
                     (click)="openModal('unread-gry1-notifications')">
                  <span class="font-weight-bolder">Unread Notifications</span>
                  <br>
                  <a href="javascript:void(0)" class="navy-link mt-1">
                    <fa-icon [icon]="faBell" size="lg"></fa-icon>
                    <span class="badge bg-yellow text-light badge-number">
                      {{authService.userMetaStore.UrGRY1}}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center px-1">
              <div data-intercom-target="% 24h">
                <h6 class="font-weight-bolder text-white">% 24h</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.OneDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right" data-intercom-target="% 7d">
                <h6 class="font-weight-bolder text-white">% 7d</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.SevenDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right" data-intercom-target="% ROI">
                <h6 class="font-weight-bolder text-white">% ROI</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.ROIPercent.toFixed(5)}}</h6>
              </div>
            </div>
            <div class="row mt-3 px-1">
              <div class="col">
                <div class="border-navy-hover" (click)="scrollToSystemActivity()" data-intercom-target="GRY Positions">
                  <h6 class="text-white font-weight-bolder">
                    GRY 1 | Positions
                  </h6>
                  <h6 class="text-white mb-0">{{algoService.gry1Metric.Positions}}</h6>
                </div>
              </div>
              <div class="col text-right" data-intercom-target="Current GRY1 | Profits">
                <h6 class="text-white font-weight-bolder">Current GRY 1 | Profits</h6>
                <h6 class="text-white mb-0">${{algoService.gry1Metric.CurrentProfit.toFixed(5)}}</h6>
              </div>
            </div>

            <div class="row mt-3 px-1">
              <div class="col">
                <button class="btn btn-purple" (click)="scrollToSystemActivity()"  data-intercom-target="Close GRY Btn">Close GRY | 1</button>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder" data-intercom-target="Current Total Value">Current Total Value</h6>
                <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry1Metric.TotalValue.toFixed(3)}}</h6>
              </div>
            </div>

          </div>
        </div>
        <div class="card border-0 no-margin" style="height: 271px!important;">
          <div class="card-body gradient-box">
            <div class="row px-1 mb-3">
              <div class="col">
                <h6 class="text-white font-weight-bolder">
                  GRY | 2 Kaspar
                  <a href="http://support.grayll.io/en/articles/3840433-what-is-the-gry-2-kaspar-algorithm" class="navy-link mt-1" target="_blank">
                    <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                  </a>
                </h6>
                <h6 class="text-white font-weight-bolder m-b-0">GRY | {{authService.priceInfo.gryusd.toFixed(5)}}</h6>
              </div>
              <div class="col text-right" style="margin-top: -4px;">
                <div class="border-navy-hover" (click)="openModal('unread-gry2-notifications')"
                     style="outline:0!important">
                  <span class="font-weight-bolder">Unread Notifications</span>
                  <br>
                  <a href="javascript:void(0)" class="navy-link mt-1">
                    <fa-icon [icon]="faBell" size="lg"></fa-icon>
                    <span class="badge bg-yellow text-light badge-number">
                      {{authService.userMetaStore.UrGRY2}}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center px-1">
              <div>
                <h6 class="font-weight-bolder text-white">% 24h</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.OneDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% 7d</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.SevenDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% ROI</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.ROIPercent.toFixed(5)}}</h6>
              </div>
            </div>
            <div class="row mt-3 px-1">
              <div class="col">
                <div class="border-navy-hover" (click)="scrollToSystemActivity()">
                  <h6 class="text-white font-weight-bolder">
                    GRY 3 | Positions
                  </h6>
                  <h6 class="text-white mb-0">{{algoService.gry2Metric.Positions}}</h6>
                </div>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current GRY 2 | Profits</h6>
                <h6 class="text-white mb-0">${{algoService.gry2Metric.CurrentProfit.toFixed(3)}}</h6>
              </div>
            </div>

            <div class="row mt-3 px-1">
              <div class="col">
                <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRY | 2</button>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current Total Value</h6>
                <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry2Metric.TotalValue.toFixed(3)}}</h6>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card border-0" style="height: 272px!important;">
          <div class="card-body gradient-box">
            <div class="row px-1 mb-3">
              <div class="col">
                <h6 class="text-white font-weight-bolder">
                  GRY | 3 Melkior
                  <a href="http://support.grayll.io/en/articles/3840435-what-is-the-gry-3-melkior-algorithm" class="navy-link mt-1" target="_blank">
                    <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                  </a>
                </h6>
                <h6 class="text-white font-weight-bolder m-b-0">GRY | {{authService.priceInfo.gryusd.toFixed(5)}}</h6>
              </div>
              <div class="col text-right" style="margin-top: -4px;">
                <div class="border-navy-hover" (click)="openModal('unread-gry3-notifications')"
                     style="outline:0!important">
                  <span class="font-weight-bolder">Unread Notifications</span>
                  <br>
                  <a href="javascript:void(0)" class="navy-link mt-1">
                    <fa-icon [icon]="faBell" size="lg"></fa-icon>
                    <span class="badge bg-yellow text-light badge-number">
                      {{authService.userMetaStore.UrGRY3}}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center px-1">
              <div>
                <h6 class="font-weight-bolder text-white">% 24h</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.OneDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% 7d</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.SevenDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% ROI</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.ROIPercent.toFixed(5)}}</h6>
              </div>
            </div>
            <div class="row mt-3 px-1">
              <div class="col">
                <div class="border-navy-hover" (click)="scrollToSystemActivity()">
                  <h6 class="text-white font-weight-bolder">
                    GRY 3 | Positions
                  </h6>
                  <h6 class="text-white mb-0">{{algoService.gry3Metric.Positions}}</h6>
                </div>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current GRY 3 | Profits</h6>
                <h6 class="text-white mb-0">${{algoService.gry3Metric.CurrentProfit.toFixed(3)}}</h6>
              </div>
            </div>

            <div class="row mt-3 px-1">
              <div class="col">
                <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRY | 3</button>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current Total Value</h6>
                <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry3Metric.TotalValue.toFixed(3)}}</h6>
              </div>
            </div>         
            
          </div>
        </div>
        <div class="card border-0 no-margin" style="height: 272px!important;">
          <div class="card-body gradient-box">
            <div class="row px-1 mb-3">
              <div class="col">
                
                <h6 class="text-white font-weight-bolder">
                  GRZ | Arkady                  
                  <a href="https://support.grayll.io/en/articles/3607187-what-is-the-grz-arkady-algorithm" class="navy-link mt-1" target="_blank">
                    <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                  </a>
                </h6>
                
                <h6 class="text-white font-weight-bolder m-b-0">GRZ | {{authService.priceInfo.grzusd.toFixed(5)}}</h6>
              </div>
              <div class="col text-right" style="margin-top: -4px;">
                <div class="border-navy-hover" (click)="openModal('unread-grz-notifications')"
                     style="outline:0!important">
                  <span class="font-weight-bolder">Unread Notifications</span>
                  <br>
                  <a href="javascript:void(0)" class="navy-link mt-1">
                    <fa-icon [icon]="faBell" size="lg"></fa-icon>
                    <span class="badge bg-yellow text-light badge-number">
                      {{authService.userMetaStore.UrGRZ}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center px-1">
              <div>
                <h6 class="font-weight-bolder text-white">% 24h</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.OneDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% 7d</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.SevenDayPercent.toFixed(5)}}</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-bolder text-white">% ROI</h6>
                <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.ROIPercent.toFixed(5)}}</h6>
              </div>
            </div>
            <div class="row mt-3 px-1">
              <div class="col">
                <div class="border-navy-hover" (click)="scrollToSystemActivity()">
                  <h6 class="text-white font-weight-bolder">
                    GRZ | Positions
                  </h6>
                  <h6 class="text-white mb-0">{{algoService.grzMetric.Positions}}</h6>
                </div>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current GRZ | Profits</h6>
                <h6 class="text-white mb-0">${{algoService.grzMetric.CurrentProfit.toFixed(3)}}</h6>
              </div>
            </div>

            <div class="row mt-3 px-1">
              <div class="col">
                <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRZ</button>
              </div>
              <div class="col text-right">
                <h6 class="text-white font-weight-bolder">Current Total Value</h6>
                <h6 class="text-white mb-0 font-weight-bolder">${{algoService.grzMetric.TotalValue.toFixed(3)}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display ONLY on mobile -->
<div class="d-lg-none">
  <ngb-carousel id="carouselSystem" [interval]="0" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body gradient-box" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">

          <div class="row">
            <div class="col">
              <p class="text-light font-14 mt-2 font-weight-bolder">Open Algorithmic Position</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-error></app-error>
            </div>
            <div class="col-12">
              <ngb-tabset type="pills" (tabChange)="didChangeTab($event.nextId)">
                <ng-container *ngFor="let item of algoItems">
                  <ngb-tab [id]="item.id">
                    <ng-template ngbTabTitle>
                      {{item.name}} {{item.tabName}}
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                  </ngb-tab>
                </ng-container>
              </ngb-tabset>
            </div>
            <div class="col-md-12" id="open-form-mobile">
              <div class="form-group mb-0 mt-3">
                <div class="input-group input-group-lg fixed-input-height">
                  <div class="input-group-prepend">
                    <span class="text-light input-group-text bg-purple dollar-padding">$</span>
                  </div>
                  <input type="number" [(ngModel)]="algoPosition.usdValue" name="usdAmount" (keyup)="usdAmountChange()" [value]="calculateAmount()"
                         class="fixed-input-height text-light form-control form-control-no-border bg-purple border-0" placeholder="USD Value (Minimum $100.00)">
                </div>
              </div>
              <div class="form-group mt-3 mb-0">
                <div class="input-group input-group-lg fixed-input-height">
                  <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                  </div>
                  <input type="number" name="itemAmount" class="fixed-input-height text-light form-control form-control-no-border border-0 bg-purple"                         
                         [placeholder]="selectedTab.id + ' | ' + selectedTab.value + ' Amount'" [(ngModel)]="algoPosition.itemAmount">
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center mt-3">
              <div class="border-navy">                
                <p class="font-weight-bolder">
                  Current Value GRY/USD | {{authService.priceInfo.gryusd.toFixed(5)}}
                </p>
                <div class="d-flex align-items-center px-1">
                  <div>
                    <h6 class="font-weight-lighter text-white">% 24h</h6>
                    <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.day.toFixed(2)}}</h6>
                    <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                  </div>
                  <div class="ml-auto  text-right">
                    <h6  class="font-weight-lighter text-white">% 7d</h6>
                    <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.sevendays.toFixed(2)}}</h6>
                    <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                  </div>
                  <div class="ml-auto  text-right">
                    <h6 class="font-weight-lighter text-white">% ROI</h6>
                    <h6 *ngIf="grydb" class="text-white font-weight-lighter">{{grydb.roi.toFixed(2)}}</h6>
                    <h6 *ngIf="!grydb" class="text-white font-weight-lighter"></h6>
                  </div>  
				        </div>
                <p class="mb-0">
                  Approximately
                  <countdown [config]="authService.countdownConfigs[0]"></countdown>
                  Seconds Until <br> GRY/USD Rate Update
                </p>
              </div>
            </div>
            <div class="col-md-12" id="amount-form-mobile">
              <div class="form-group mt-3">
                <div class="input-group input-group-lg fixed-input-height">
                  <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                  </div>
                  <input type="number" class="fixed-input-height text-light
                    form-control form-control-no-border bg-purple border-0"
                         (keyup)="grxAmountChange()" [value]="calculateAmount()" name="grxAmount"  placeholder="GRX Amount" [(ngModel)]="algoPosition.grxAmount">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row mb-0">
                <div class="col">
                  <button type="button" class="text-light btn bg-purple" (click)="openAlgoPosition()">
                    Open {{selectedTab.name}}
                  </button>
                </div>
                <div class="col">
                  <a class="navy-link-white" href="javascript:void(0)" (click)="populateMaxGRX()">
                    Max Available GRX: {{this.authService.getMaxAvailableGRX().toFixed(5)}}
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body gradient-box" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="row px-1 mb-3">
            <div class="col">
              <h6 class="text-white font-weight-bolder">
                GRY | 1 Balthazar                
                <a href="http://support.grayll.io/en/articles/3840363-what-is-the-gry-1-balthazar-algorithm" class="navy-link mt-1" target="_blank">
                  <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                </a>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">GRY | ${{authService.priceInfo.gryusd.toFixed(5)}}</h6>
            </div>
            <div class="col text-right" style="margin-top: -4px;">
              <div class="mobile-bottom-border" style="outline:0!important"
                   (click)="openModal('unread-gry1-notifications')">
                <span class="font-weight-bolder">Unread Notifications</span>
                <br>
                <a href="javascript:void(0)" class="navy-link mt-1">
                  <fa-icon [icon]="faBell" size="lg"></fa-icon>
                  <span class="badge bg-yellow text-light badge-number">
                    {{authService.userMetaStore.UrGRY1}}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center px-1">
            <div>
              <h6 class="font-weight-bolder text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.OneDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.SevenDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry1MetricROI.ROIPercent.toFixed(5)}}</h6>
            </div>
          </div>
          <div class="row mt-3 px-1">
            <div class="col">
              <div class="mobile-bottom-border" (click)="scrollToSystemActivity()">
                <h6 class="text-white font-weight-bolder">
                  GRY 1 | Positions
                </h6>
                <h6 class="text-white mb-0">{{algoService.gry1Metric.Positions}}</h6>
              </div>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 1 | Profits</h6>
              <h6 class="text-white mb-0">${{algoService.gry1Metric.CurrentProfit.toFixed(3)}}</h6>
            </div>
          </div>

          <div class="row mt-3 px-1">
            <div class="col">
              <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRY | 1</button>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current Total Value</h6>
              <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry1Metric.TotalValue.toFixed(3)}}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body gradient-box" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="row px-1 mb-3">
            <div class="col">
              <h6 class="text-white font-weight-bolder">
                GRY | 2 Kaspar
                <a href="http://support.grayll.io/en/articles/3840433-what-is-the-gry-2-kaspar-algorithm" class="navy-link mt-1" target="_blank">
                  <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                </a>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">GRY | ${{authService.priceInfo.gryusd.toFixed(5)}}</h6>
            </div>
            <div class="col text-right" style="margin-top: -4px;">
              <div class="mobile-bottom-border" (click)="openModal('unread-gry2-notifications')"
                   style="outline:0!important">
                <span class="font-weight-bolder">Unread Notifications</span>
                <br>
                <a href="javascript:void(0)" class="navy-link mt-1">
                  <fa-icon [icon]="faBell" size="lg"></fa-icon>
                  <span class="badge bg-yellow text-light badge-number">
                    {{algoService.gry2Metric.Positions}}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center px-1">
            <div>
              <h6 class="font-weight-bolder text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.OneDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.SevenDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry2MetricROI.ROIPercent.toFixed(5)}}</h6>
            </div>
          </div>
          <div class="row mt-3 px-1">
            <div class="col">
              <div class="mobile-bottom-border" (click)="scrollToSystemActivity()">
                <h6 class="text-white font-weight-bolder">
                  GRY 2 | Positions
                </h6>
                <h6 class="text-white mb-0">{{algoService.gry2Metric.Positions}}</h6>
              </div>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 2 | Profits</h6>
              <h6 class="text-white mb-0">{{algoService.gry2Metric.CurrentProfit.toFixed(3)}}</h6>
            </div>
          </div>

          <div class="row mt-3 px-1">
            <div class="col">
              <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRY | 2</button>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current Total Value</h6>
              <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry2Metric.TotalValue.toFixed(3)}}</h6>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body gradient-box" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="row px-1 mb-3">
            <div class="col">
              <h6 class="text-white font-weight-bolder">
                GRY | 3 Melkior
                <a href="http://support.grayll.io/en/articles/3840435-what-is-the-gry-3-melkior-algorithm" class="navy-link mt-1" target="_blank">
                  <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
                </a>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">GRY | ${{authService.priceInfo.gryusd.toFixed(5)}}</h6>
            </div>
            <div class="col text-right" style="margin-top: -4px;">
              <div class="mobile-bottom-border" (click)="openModal('unread-gry3-notifications')"
                   style="outline:0!important">
                <span class="font-weight-bolder">Unread Notifications</span>
                <br>
                <a href="javascript:void(0)" class="navy-link mt-1">
                  <fa-icon [icon]="faBell" size="lg"></fa-icon>
                  <span class="badge bg-yellow text-light badge-number">
                    {{authService.userMetaStore.UrGRY3}}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center px-1">
            <div>
              <h6 class="font-weight-bolder text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.OneDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.SevenDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.gry3MetricROI.ROIPercent.toFixed(5)}}</h6>
            </div>
          </div>
          <div class="row mt-3 px-1">
            <div class="col">
              <div class="mobile-bottom-border" (click)="scrollToSystemActivity()">
                <h6 class="text-white font-weight-bolder">
                  GRY 3 | Positions
                </h6>
                <h6 class="text-white mb-0">{{algoService.gry3Metric.Positions}}</h6>
              </div>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 3 | Profits</h6>
              <h6 class="text-white mb-0">${{algoService.gry3Metric.CurrentProfit.toFixed(3)}}</h6>
            </div>
          </div>

          <div class="row mt-3 px-1">
            <div class="col">
              <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRY | 3</button>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current Total Value</h6>
              <h6 class="text-white mb-0 font-weight-bolder">${{algoService.gry3Metric.TotalValue.toFixed(3)}}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body gradient-box" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="row px-1 mb-3">
            <div class="col">
              <h6 class="text-white font-weight-bolder">
                GRZ | Arkady
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">GRZ | ${{authService.priceInfo.grzusd.toFixed(5)}}</h6>
            </div>
            <div class="col text-right" style="margin-top: -4px;">
              <div class="mobile-bottom-border" (click)="openModal('unread-grz-notifications')"
                   style="outline:0!important">
                <span class="font-weight-bolder">Unread Notifications</span>
                <br>
                <a href="javascript:void(0)" class="navy-link mt-1">
                  <fa-icon [icon]="faBell" size="lg"></fa-icon>
                  <span class="badge bg-yellow text-light badge-number">
                    {{authService.userMetaStore.UrGRZ}}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center px-1">
            <div>
              <h6 class="font-weight-bolder text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.OneDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.SevenDayPercent.toFixed(5)}}</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-bolder text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">{{algoService.grzMetricROI.ROIPercent.toFixed(5)}}</h6>
            </div>            
          </div>
          <div class="row mt-3 px-1">
            <div class="col">
              <div class="mobile-bottom-border" (click)="scrollToSystemActivity()">
                <h6 class="text-white font-weight-bolder">
                  GRZ | Positions
                </h6>
                <h6 class="text-white mb-0">{{algoService.grzMetric.Positions}}</h6>
              </div>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current GRZ | Profits</h6>
              <h6 class="text-white mb-0">${{algoService.grzMetric.CurrentProfit.toFixed(3)}}</h6>
            </div>
          </div>

          <div class="row mt-3 px-1">
            <div class="col">
              <button class="btn btn-purple" (click)="scrollToSystemActivity()">Close GRZ</button>
            </div>
            <div class="col text-right">
              <h6 class="text-white font-weight-bolder">Current Total Value</h6>
              <h6 class="text-white mb-0 font-weight-bolder">${{algoService.grzMetric.TotalValue.toFixed(3)}}</h6>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<app-unread-notifications></app-unread-notifications>
