<div class="row px-3 py-3 mb-1" [style.background-color]="!notification.isRead ? '#40278c' : 'transparent'">
  <div class="col-1">
    <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
  </div>
  <div class="col-11">
    <div class="row mt-1">
      <div class="col">
        <p class="h7 font-weight-bolder">{{notification.title}}</p>
      </div>
      <div class="col text-right font-12">
        {{notification.times}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-10 font-12">
            {{notification.title}}
          </div>
          <div class="col text-right hover" (click)="expandNotification()">
            <fa-icon [attr.aria-expanded]="!isContentCollapsed" aria-controls="collapsedContent" [icon]="faExpand"></fa-icon>
          </div>
        </div>
        <div id="collapsedContent" class="font-12" [ngbCollapse]="isContentCollapsed">
          {{notification.body}}
        </div>
        <p *ngIf="notification.txId" class="font-12 mb-0">
          <a href="{{notification.url}}" target="_blank" class="white-link">
            Stellar | Transaction ID {{notification.txId}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
