<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Update New Version"></app-popup-header>
  <div class="modal-body">
    <div class="row mb-1">      
      <div class="col-12 text-center">
        <p class="text-purple font-16">
          New version of the GRAYLL App is available. Refresh?
        </p>        
        <br/>         
      </div>
    </div>

  </div>

  <div class="modal-footer justify-content-center">
    <div class="row text-center" style="display: contents!important;">
      <div class="col">        
        <button class="btn btn-purple" (click)="submit()">Confirm</button>
      </div>
    </div>
    <div class="row text-center" style="display: contents!important;">
      <div class="col">        
        <button class="btn btn-purple" (click)="popupService.close()">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
