<ng-template #content let-modal>
  <div class="sw-notify-wrapper">
    <div class="sw-main">
      <div class="sw-group bg-purple">
        <div class="sw-group-logo bg-purple">
          <img alt="GRAYLL Logo" class="small-grayll-icon" src="assets/images/logo.png">
        </div>
        <div class="sw-group-text bg-purple">
          <span>New version of the GRAYLL App is available.</span>
        </div>
        <div class="border-0 bg-purple text-btn">
          <button class="refresh-btn btn btn-purple" (click)="confirm()">REFRESH</button>
          <button class="close-btn btn" (click)="popupService.close()">X</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-popup-header popupHeaderTitle="Update New Version"></app-popup-header>
  <div class="modal-body">
    <div class="row mb-1">      
      <div class="col-12 text-center">
        <p class="text-purple font-16">
          New version of the GRAYLL App is available. Refresh?
        </p>        
        <br/>         
      </div>
    </div>

  </div>

  <div class="modal-footer justify-content-center">
    <div class="row text-center" style="display: contents!important;">
      <div class="col">        
        <button class="btn btn-purple" (click)="confirm()">Confirm</button>
      </div>
    </div>
    <div class="row text-center" style="display: contents!important;">
      <div class="col">        
        <button class="btn btn-purple" (click)="popupService.close()">Cancel</button>
      </div>
    </div>
  </div> -->
</ng-template>
